{% load static %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

<div class="flex side-cart-background" id="side-cart-background">
    <div class="flex side-cart" id="side-cart">

        <div class="flex side-cart-header">
            <h3 class="side-cart-title">Корзина</h3>
            <span class="close-side-cart" id="close-cart-button">&#x2715</span>
        </div>

        <div class="flex side-cart-content">
            <div class="flex side-cart-items" id="side-cart-items">

            </div>

            <div class="flex customer-data">
                <input type="text" value="" id="customer-name-input" class="customer-data-input customer-name" required
                       placeholder="Введите имя">
                <input type="tel" value="" id="customer-phone-input" class="customer-data-input customer-phone" required
                       placeholder="Введите номер телефон">
            </div>
        </div>

        <div class="flex side-cart-footer">
            <p class="order-summary" id="order-summary">Итоговая стоимость: <span id="total-cart-price-value"></span>
            </p>
            <button class="confirm-order" id="confirm-button">Оформить заказ</button>
        </div>

    </div>
</div>
{% csrf_token %}
<script src="{% static 'js/fetch_api.js' %}"></script>